# Credenciales y configuraciones sensibles
client_secrets.json
service_account.json
credentials.json
settings.yaml

# Datos y caché generados
/models/
/downloaded_audios/
/results/

# Archivos de entorno
*.env
*.secret

# Python
__pycache__/
*.pyc
