# Archivos de credenciales
client_secrets.json
service_account.json
credentials.json
settings.yaml

# Directorios con modelos descargados
/models/
/downloaded_audios/
/results/

# Archivos de entorno
.env
.env.local

# Archivos generados por Streamlit
.streamlit/secrets.toml  # Solo si usas uno local para desarrollo
